@font-face {
  font-family: Poppins;
  src: url(Font/Poppins-Regular.otf);
}

@font-face {
  font-family: Monsterrat;
  src: url(Font/Montserrat-Regular.ttf);
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins';
  font-family: 'Monsterrat';
  line-height: 25px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #6700EE;
}

.nav-container a {
  color: white;
}

.nav-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

.nav-container header .logo {
  color: #F949FF;
  font-weight: bold;
  padding-left: 1.5em;
  font-size: 22px;
}

.nav-container header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container header ul a {
  display: block;
  padding: 0em 1.5em 0em;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background-color: #7500FC;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 2em;
}

.hero h1 {
  padding-bottom: 1em;
  line-height: 1.5cm;
}

.hero .meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7DDEED;
  font-weight: bold;
  width: 200px;
  margin: 0 auto;
}

.hero .meet span {
  padding-bottom: 3em;
}

.hero .scroll {
  margin-right: 5px;
  width: 30px;
  height: 20px;
}

.hero .amogus {
  padding-bottom: 1.5em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
  margin-top: 30px;
}

.featured .subtitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  color: #AF00AF;
  text-align: left;
  margin-left: 100px;
  margin-top: 25px;
}

.featured .featured-title {
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-top: -.2em;
  margin-bottom: -.2em;
  display: block;
  text-align: left;
  margin-left: 100px;
}

.featured .featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;
  text-align: left;
  margin-left: 100px;
  text-align: justify;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #C89DFB;
  top: 0;
  left: 0;
  z-index: -1;
  margin-left: 30px;
}

.skills {
  background-color: #D502E3;
}

.skills .skills-container ul li {
  background: white;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 2em;
}

.skills .skills-container ul li .icon-container one {
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills .skills-container ul li .skills-title {
  font-weight: bold;
  text-transform: uppercase;
}

.skills .skills-container ul li .featured-desc {
  margin-bottom: 1em;
}

.skills .skills-container ul li img {
  width: 100px;
  height: 100px;
}

.portofolio {
  background: #f7f7f7;
  text-align: left;
}

.portofolio .portofolio-container {
  margin-bottom: 50px;
}

.portofolio .portofolio-container a img {
  border-radius: 1em;
}

.portofolio .subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 10px;
}

.portofolio .featured-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .featured img {
    margin-top: -75px;
  }
  .featured .subtitle {
    margin-top: -85px;
  }
  .featured,
  .left {
    margin-right: -30px;
  }
  .featured .subtitle,
  .left .subtitle,
  .inner-transition2 .subtitle {
    margin-top: 25px;
    margin-left: 100px;
  }
  .featured .featured-title,
  .left .featured-title,
  .inner-transition2 .featured-title {
    line-height: 35px;
    margin-left: 100px;
  }
  .featured .featured-desc,
  .left .featured-desc,
  .inner-transition2 .featured-desc {
    margin-left: 100px;
  }
  .featured,
  .portofolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .featured,
  .portofolio {
    text-align: justify;
  }
  .portofolio .portofolio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portofolio img {
    width: 50%;
    height: 50%;
    margin-left: 2em;
  }
  .right {
    margin-left: 2em;
  }
  .skills {
    margin-top: -7em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portofolio {
    padding-top: 7em;
  }
}

@media only screen and (min-width: 1050px) {
  .featured .subtitle,
  .left .subtitle,
  .inner-transition2 .subtitle {
    margin-left: 30px;
  }
  .featured .featured-title,
  .left .featured-title,
  .inner-transition2 .featured-title {
    margin-left: 30px;
  }
  .featured .featured-desc,
  .left .featured-desc,
  .inner-transition2 .featured-desc {
    margin-left: 30px;
  }
  .featured::before,
  .featured,
  .left,
  .inner-transition2 {
    margin-top: 30px;
    margin-left: 30px;
  }
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  header {
    background: #6700EE;
    padding: 2em 2em 2em 4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 100%;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .social-header ul img {
    width: 100px;
    height: 100%;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #6E00FF;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .portofolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .nav-container header .logo {
    color: #F949FF;
    font-weight: bold;
    font-size: 22px;
    padding-right: 4em;
    padding-left: 5.5em;
  }
  .nav-container header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-container header ul a {
    display: block;
    padding: 0em 1em 0em;
  }
  .social-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 100%;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .social-header ul img {
    width: 100px;
    height: 100%;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 0em 2em 0;
  }
  section {
    padding: 10em 20em 4em 10em;
  }
  .hero .content {
    padding: 6em 2em 6em 10em;
  }
}
/*# sourceMappingURL=main.css.map */