@font-face {
    font-family: Poppins;
    src: url(Font/Poppins-Regular.otf);
}

@font-face {
    font-family: Monsterrat;
    src: url(Font/Montserrat-Regular.ttf);
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins';
    font-family: 'Monsterrat';
    line-height: 25px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: 0;
}

img {
    width: 100%;
}

.nav-container {
    background-color: #6700EE;
    a {
        color: white;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 2em;
        .logo {
            color: #F949FF;
            font-weight: bold;
        }
        ul {
            display: flex;
            a {
                display: block;
                padding: 0 0.7em;
            }
        }
    }
}

.social-header,
.hero-design {
    display: none;
}

.hero {
    background-color: #7500FC;
    color: white;
    display: grid;
    text-align: center;
    padding: 2em;
    h1 {
        padding-bottom: 1em;
        line-height: 1.5cm;
    }
    .meet {
        display: flex;
        color: #7DDEED;
        font-weight: bold;
        width: 200px;
        margin: 0 auto;
        span {
            padding-bottom: 3em;
        }
    }
    .scroll {
        margin-right: 5px;
        width: 30px;
        height: 20px;
    }
    .amogus {
        padding-bottom: 1.5em;
    }
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
    margin-top: 30px;
    .subtitle {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 2px;
        color: #AF00AF;
        text-align: left;
        margin-left: 100px;
    }
    .featured-title {
        color: black;
        font-weight: bold;
        font-size: 24px;
        margin-top: -.2em;
        margin-bottom: -.2em;
        display: block;
        text-align: left;
        margin-left: 100px;
    }
    .featured-desc {
        color: #252525;
        margin-bottom: 3em;
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 500;
        text-align: left;
        margin-left: 100px;
        text-align: justify;
    }
}

.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #C89DFB;
    top: 0;
    left: 0;
    z-index: -1;
    margin-left: 30px;
}

.skills {
    background-color: #D502E3;
    .skills-container ul li {
        background: white;
        border-radius: 1em;
        margin-bottom: 1em;
        padding: 2em;
        .icon-container one {
            display: grid;
            place-content: center;
            margin: 0 auto;
        }
        .skills-title {
            font-weight: bold;
            text-transform: uppercase;
        }
        .featured-desc {
            margin-bottom: 1em;
        }
        img {
            width: 100px;
            height: 100px;
        }
    }
}

.portofolio {
    background: #F7F7F7;
    text-align: left;
    .portofolio-container {
        margin-bottom: 50px;
    }
    .portofolio-container a img {
        border-radius: 1em;
    }
    .subtitle {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        letter-spacing: 10px;
    }
    .featured-title {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }
}

@media only screen and (min-width: 800px) {
    //Bagian atas (SELESAI)
    .featured {
        img {
            margin-top: -75px;
        }
        .subtitle {
            margin-top: -85px;
        }
    }
    //Memperluas bagian kanan div .left
    .featured,
    .left {
        margin-right: -30px;
    }
    //Mengatur kalimat PENAMPILAN, Nama, Deskripsi 
    .featured,
    .left,
    .inner-transition2 {
        .subtitle {
            margin-top: 25px;
            margin-left: 100px;
        }
        .featured-title {
            line-height: 35px;
            margin-left: 100px;
        }
        .featured-desc {
            margin-left: 100px;
        }
    }
    .featured,
    .portofolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }
    //Bagian bawah
    .featured,
    .portofolio {
        text-align: justify;
    }
    .portofolio {
        .portofolio-container {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            align-items: center;
        }
        img {
            width: 50%;
            height: 50%;
            margin-left: 2em;
        }
    }
    .right {
        margin-left: 2em;
    }
    //Memberikan jarak atas bawah bagian skill Shionne
    .skills {
        margin-top: -7em;
        margin-bottom: -7em;
        padding-top: 7em;
    }
    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }
    .portofolio {
        padding-top: 7em;
    }
}

@media only screen and (min-width: 1050px) {
    //Mengatur kalimat PENAMPILAN, Nama, Deskripsi 
    .featured,
    .left,
    .inner-transition2 {
        .subtitle {
            margin-left: 60px;
        }
        .featured-title {
            margin-left: 60px;
        }
        .featured-desc {
            margin-left: 60px;
        }
    }
    .hero {
        height: 90vh;
    }
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
    }
    header {
        background: #6700EE;
        padding: 2em 2em 2em 4em;
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }
    .social-header {
        border: 10px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            border: 10px solid gray;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            max-width: 700px;
            width: 100%;
            img {
                width: 100px;
                height: 100%;
            }
        }
    }
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;
        .content {
            background: #6E00FF;
            padding: 6em 8em 6em 4em;
            text-align: left;
            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }
    .meet {
        margin: unset;
    }
    .hero {
        .content {
            .meet {
                .scroll {
                    justify-content: left;
                    text-align: left;
                    align-items: left;
                }
                .temui {
                    justify-content: left;
                    text-align: left;
                    align-items: left;
                }
            }
        }
    }
    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }
    .portofolio img {
        float: right;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    section {
        pad: 10em 10em 4em 10em;
    }
    .hero .content {
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 20em 2em 0;
    }
    section {
        pad: 10em 20em 4em 10em;
    }
    .hero .content {
        padding: 6em 2em 6em 10em;
    }
}